body
  margin: 0
  overflow: hidden

#scene
  position: relative

#player
  position: absolute
  width: 38px
  top: 200px

.overlay
  position: fixed
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.7)

.environment
  min-width: 1280px
  position: relative
  height: 100%

// Scene One

.rowOneLandscape
  height: 54px
  background-size: contain
  position: relative
  background-position: left
  background-repeat: no-repeat
  top: 210px
  z-index: 3
  &.s1
    background-image: url('./svg-assets/items/rowOneLandscape.svg')

.rowTwoLandscape
  position: relative
  height: 210px
  top: 210px
  background-repeat-y: no-repeat
  z-index: 2
  &.s1
    background-image: url('./svg-assets/items/rowTwoLandscape.svg')

.rowThreeLandscape
  height: 422px
  z-index: 1
  position: absolute
  background-repeat-y: no-repeat
  width: 100%
  &.s1
    background-image: url('./svg-assets/items/rowThreeLandscape.svg')
